{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_account</title>
</head>

{% block content %}
<body>
    <!-- <div class="accounts__cont"> -->
        <h1>Dodaj Konto</h1>
    <div class="accounts__cont">
        <!-- <div id="success"></div> -->
        <form id="registerForm">
            {% csrf_token %}

            <label for="NAME">Nazwa Konta</label>
            <input name="NAME" type="text" required>

            <label for="CLIENT_ID">CLIENT_ID</label>
            <input name="CLIENT_ID" type="password" required>

            <label for="CLIENT_SECRET">CLIENT_SECRET</label>
            <input name="CLIENT_SECRET" type="password" required>

            <button type="submit">Dodaj</button>
        </form>
    </div>
    <button id="okButton" style="display: none;">Dalej</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById('registerForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        // Get form data
        const formData = new FormData(event.target);

        // Send POST request using Axios
        axios.post('', formData)
            .then(function(response) {
                console.log(response.data.message);
                
                // document.getElementById('success').innerHTML = `Witaj, ${response.data.username}!`;
                document.getElementById('okButton').style.display = 'block';
                document.getElementById('registerForm').style.display = 'none';
                if (response.data.message == 'success'){
                    window.location.href = `http://127.0.0.1:8000/success/${response.data.text}`;

                }
        
            })
            .catch(function(error) {
                console.error(error);
                alert(error)
            });
        });


        // document.getElementById('okButton').addEventListener('click', function() {
        //     // Redirect to the home page
        //     window.location.href = 'http://127.0.0.1:8000/add_account'; 
        // });
    </script>

</body>
{% endblock %}

</html>