{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

    {% if result %}
    <div class="thread-list">
        <h1 id="name" value="{{ name }}">Wszyskie wiadomości {{ name }}</h1>
        {% for thread in result.threads %}
            <div class="thread" onclick="getOneMessage('{{ thread.id }}')" id="thread_{{ thread.id }}">
                <div class="thread-avatar" >
                    <img src="{{ thread.interlocutor.avatarUrl }}" alt="Avatar">
                </div>
                <div class="thread-info">
                    <div class="thread-interlocutor">{{ thread.interlocutor.login }}</div>
                    <div class="thread-last-message">Last Message: {{ thread.lastMessageDateTime }}</div>
                    {% if thread.read %}
                        <div class="thread-read">Read</div>
                    {% else %}
                        <div class="thread-unread">Unread</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="message" id="message">
    </div>
    

{% else %}
    <p>Na razie nie ma żadnych wiadomości</p>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script>

    // Function to get CSRF token from cookie
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches the desired name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }



    function getOneMessage(threadId) {

        var csrftoken = getCookie('csrftoken')
        var nameElem = document.getElementById('name');
        var name = nameElem.getAttribute('value');
        console.log('threadId', threadId, name)

        // Make an AJAX request to update the stock value
        axios.post('/get_one_message/', { threadId: threadId, name: name }, {
            headers: {
                    'X-CSRFToken': csrftoken
                }
        })
        .then(function(response) {
            console.log('status', response.data.newValue)
            if(response.status == 200) {
                var messageContainer = document.getElementById('message');
                var messages = response.data.context.result.messages;
                console.log('messages', messages)
            
                // Clear previous content
                // messageContainer.innerHTML = '';
            
                var status = document.getElementById('status');

                // Loop through each message and create HTML elements
                messages.forEach(function(message){
                    console.log('mess', message.author.login);
                    var messageItem = document.createElement('div');
                    messageItem.classList.add('message-item');
                    var p = document.createElement('p');
                    p.textContent = 'Author: ' + message.author.login;
                    messageItem.appendChild(p);
                    messageContainer.appendChild(messageItem);
                });
            }
        })


            .catch(function(error) {
                // Handle error
                console.error('Error updating stock:', error);
                // window.location.href('index')
            });
        }

</script>

{% endblock %}

</body>
</html>