{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

    {% if result %}
    <div class="thread-list">
        <h1 id="name" value="{{ name }}">Wszyskie wiadomości {{ name }}</h1>
        {% for thread in result.threads %}
            <div class="thread" onclick="getOneMessage('{{ thread.id }}')" id="thr" value="{{ thread.id }}">
                <div class="thread-avatar" >
                    <img src="{{ thread.interlocutor.avatarUrl }}" alt="Avatar">
                </div>
                <div class="thread-info">
                    <div class="thread-interlocutor">{{ thread.interlocutor.login }}</div>
                    <div class="thread-last-message">Last Message: {{ thread.lastMessageDateTime }}</div>
                    
                    {% if thread.read %}
                        <div class="thread-read">Read</div>
                    {% else %}
                        <div class="thread-unread">Unread</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="message" id="message"></div>
        <textarea id="content" placeholder="Napisz do nas.."></textarea>
        <button id="formButton" onclick="sendMess()">Wyślij</button>
    </div>
    

{% else %}
    <p>Na razie nie ma żadnych wiadomości</p>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script>

    // Function to get CSRF token from cookie
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches the desired name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }



    function sendMess() {

        // Prevent the default form submission
        event.preventDefault();

        var csrftoken = getCookie('csrftoken')
        var threadElem = document.getElementById('thr');
        var threadId = threadElem.getAttribute('value');
        var content = document.getElementById('content').value;

        console.log('threadId to send', threadId, content);

        // Make a POST request to your Django backend
        axios.post('/send_message/', { threadId: threadId, content: content }, {
            headers: {
                    'X-CSRFToken': csrftoken
                }
        })
        .then(response => {
            console.log(response.data);
                // Handle successful response
                if(response.status == 200) {
                    // button.textContent = 'Gotowe!';
                    console.log('Success', response)
                    document.getElementById('content').value = '';
                    // form.reset();
                }
            })
            .catch(error => {
                // Handle error
                console.error('There was an error!', error);
            });

        // Add submit event listener to the form
        // form.addEventListener('submit', submitForm);
    }

    function getOneMessage(threadId) {

        var csrftoken = getCookie('csrftoken')
        var nameElem = document.getElementById('name');
        var name = nameElem.getAttribute('value');
        var thr = threadId
        console.log('threadId', threadId, name)

        // Make an AJAX request to update the stock value
        axios.post('/get_one_message/', { threadId: threadId, name: name }, {
            headers: {
                    'X-CSRFToken': csrftoken
                }
        })
        .then(function(response) {
            console.log('status', response.data.newValue)
            if(response.status == 200) {
                var messageContainer = document.getElementById('message');
                var messages = response.data.context.result.messages;
                console.log('messages', messages)
            
                // Clear previous content
                messageContainer.innerHTML = '';
            
                var statusResp = document.getElementById('status');

                // Loop through each message and create HTML elements
                messages.forEach(function(message){
                    console.log('mess', message.author.login);
                    var messageItem = document.createElement('div');
                    messageItem.classList.add('message__item');

                    var status = message.status

                    var text = document.createElement('p');
                    text.textContent = message.text;
                    messageItem.appendChild(text);

                    var author = document.createElement('p');
                    author.textContent = 'Kupujący: ' + message.author.login;
                    messageItem.appendChild(author);

                    // var offer = document.createElement('p');
                    // offer.textContent = 'Produkt: ' + (message.relatesTo.offer ? message.relatesTo.offer.id : message.relatesTo.order.id);
                    // messageItem.appendChild(offer);

                    var order = document.createElement('p');
                    order.textContent = 'Zamówienie: ' + (message.relatesTo.order ? message.relatesTo.order.id : message.relatesTo.offer.id);
                    messageItem.appendChild(order);

                    messageContainer.appendChild(messageItem);
                });
            }
        })


            .catch(function(error) {
                // Handle error
                console.error('Error updating stock:', error);
                // window.location.href('index')
            });
        }

</script>

{% endblock %}

</body>
</html>