{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Metody dostaw{% endblock %}</title>
</head>
<body>
    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        <select name="shipping_time" id="">
            <option value="" selected disabled>Chas wysyłki</option>
            <option value="PT24H">1 dzień</option>
            <option value="PT48H">2 dni</option>
            <option value="PT72H">3 dni</option>
            <option value="PT96H">4 dni</option>
            <option value="PT120H">5 dni</option>
            <option value="PT144H">6 dni</option>
            <option value="PT168H">7 dni</option>
        </select>
        <button type="submit">Zatwierdź</button>
    </form>
    {% endblock %}
</body>
</html>