{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="get_orders.css"> -->
    <title>Zamówienia</title>
    <style>
        table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
    </style>
</head>
{% block content %}
<body>
    <h1>Zamówienia:</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Zamówienie</th>
                <th>Product</th>
                <th>SKU</th>
                <th>Ilość</th>
                <th>Koszty</th>
                <th>Klient</th>
                <th>Wysyłka</th>
            </tr>
        </thead>
        <tbody>
            {% for order in result.checkoutForms %}
            <tr>
                <td>{{ order.id }}</td>  <!-- ID -->
                <td><a href="{% url 'change_status' order.id %}">Change</a></td>
                <td>{{ order.fulfillment.status }}</td>
                {% if order.status == 'FILLED_IN' %}
                    <td>PŁATNOŚĆ ROZPOCZĘTA</td>
                {% elif order.status == 'READY_FOR_PROCESSING' %}
                    <td>OPŁACONE</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% for item in order.lineItems %}
                    <td>{{ item.offer.name }}</td> <!-- Product -->
                    <td>{{ item.offer.external.id }}</td> <!-- SKU -->
                    <td>{{ item.quantity }}</td> <!-- Ilość -->
                {% endfor %}
                <td>{{ order.summary.totalToPay.amount }} {{ order.summary.totalToPay.currency }}</td>
                <td>{{ order.buyer.login }}</td>
                <td>{{ order.delivery.method.name }}</td>
                <td><a href="{% url 'get_order_details' order.id %}">Go</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

   
</body>
{% endblock %}
</html>