{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="get_orders.css"> -->
    <title>Zamówienia</title>

</head>
{% block content %}
<body>
    <h1>Zamówienia:</h1>
    <div id="question">
        <p id="text"></p>
        <div>
            <button onclick="getNo()">Nie</button>
            <button onclick="getYes()">Tak</button>
        </div>
    </div>
    <div id="questionOne">
        <p id="textOne"></p>
        <div>
            <button onclick="getNoPrintOne()">Nie</button>
            <button onclick="getYesPrintOne()">Tak</button>
        </div>
    </div>
    <div id="wait">
        <p>Proczę czekać...</p>
        <img class="icon loading" src="{% static 'icons/load.png' %}" alt="">
    </div>

            <div class="list__header_orders"> 
                <p class="labels" onclick="allLabels()" class="all_labels">Zzn</p>
                <p class="name_o" >Produkt</p>
                <p class="account_o" >Konto</p>
                <p class="sku_o" >SKU</p>
                <p class="stock_o">Ilość</p>
                <p class="costs_o">Koszty</p>
                <p class="status_o">Status</p>
                <p class="client_o">Klient</p>
                <p class="shipment_o">Wysyłka</p>
                <p class="order_o">Zamówienie</p>
                <p class="label_o">Druk</p>
            </div>

            {% for order in all_results %}       
            
                {% if order.delivery.calculatedNumberOfPackages == 2 %}
                {% for item in order.lineItems %}
                <div 
                    name="fulfillmentStatus"
                    class="orders__line dbl
                    {% if order.fulfillment.status == 'SENT' %} 
                        sent 
                    {% elif order.fulfillment.status == 'CANCELLED' %}
                        canceled
                    {% elif order.fulfillment.status == 'PICKED_UP' %}
                        picked_up
                    {% endif %}"
                >
                        {% if  forloop.counter == 1 %}
                            <p class="labels">
                                <input 
                                    class="labels" 
                                    type="checkbox" 
                                    name="selected_items" 
                                    {% if order.fulfillment.status == 'NEW' and order.status == 'READY_FOR_PROCESSING' %}
                                        value="{{ order.id }}:{{ name }}:{{ order.delivery.method.name }}:{{ order.fulfillment.status }}:{{ order.status }}"
                                    {% endif %}
                                >
                            </p>
                        {% else %}
                            <p></p>
                        {% endif %}
                        <a class="name_o" href="{% url 'get_order_details' order.id name   %}">{{ item.offer.name }}</a> <!-- Product -->
                        <p class="account_o" id="name_{{ order.id }}" value="{{ name }}">{{ name }}</p> <!-- Konto -->
                        <p class="sku_o">{{ item.offer.external.id }}</p> <!-- SKU -->
                        <p class="stock_o">{{ item.quantity }}</p> <!-- Ilość -->


                        {% if forloop.counter == 1 %}
                            <p class="costs_o">{{ order.summary.totalToPay.amount }} {{ order.summary.totalToPay.currency }}</p> <!-- Koszty -->

                            {% if order.status == 'FILLED_IN' %}
                                <p value="{{ order.id }}_{{ order.status }}" class="status_o">PŁATNOŚĆ ROZPOCZĘTA</p>
                            {% elif order.status == 'READY_FOR_PROCESSING' %}
                                <p value="{{ order.id }}_{{ order.status }}" class="status_o">OPŁACONE</p>
                            {% elif order.status == 'CANCELLED' %}
                                <p value="{{ order.id }}_{{ order.status }}" class="status_o">ANULOWANE</p>
                            {% else %}
                                <p value="{{ order.id }}_{{ order.status }}" class="status_o"></p>
                            {% endif %}

                            <p class="client_o">{{ order.buyer.login }}</p>
                            <p class="shipment_o">{{ order.delivery.method.name }}</p>

                            <select class="account_select order_o" id="status_select_{{ order.id }}">
                                <option 
                                    id="status_{{ order.id }}" 
                                    value="SENT" 
                                    {% if order.fulfillment.status == 'SENT' %} 
                                        selected 
                                    {% endif %}
                                >
                                    WYSŁANE
                                </option>
                                <option id="status_{{ order.id }}" value="READY_FOR_PROCESSING" {% if order.fulfillment.status == 'NEW' %} selected {% endif %}>NOWE</option>
                                <option id="status_{{ order.id }}" value="CANCELLED" {% if order.fulfillment.status == 'CANCELLED' %} selected {% endif %}>ANULOWANE</option>
                                <option id="status_{{ order.id }}" value="PICKED_UP" {% if order.fulfillment.status == 'PICKED_UP' %} selected {% endif %}>DOSTARCZONE</option>
                            </select>
                            <img class="icon edit_o" id="edit_{{ order.id }}" onclick="updateOrderStatus('{{ order.id }}', 'status_select_{{ order.id }}')" src="{% static 'icons/edit2.png' %}" alt="">
                            <img style="display: none;" class="icon edit_o" id="load_{{ order.id }}"  src="{% static 'icons/load.png' %}" alt="">


                            {% if order.delivery.method.name == 'Allegro Kurier DPD' %}
                                <p class="label_o" onclick="printOneLabel('{{ order.id }}')">DPD</p>
                            {% else %}
                                <p class="label_o"></p>
                            {% endif %}


                        {% else %}
                            <p></p> 
                            <p></p>
                            <p></p>
                            <p></p> 
                            <p></p>
                            <p></p>
                            <p></p>
                        {% endif %}
                        </div>
                {% endfor %}
                {% endif %}

        
                <div 
                    name="fulfillmentStatus"
                    class="orders__line 
                    {% if order.fulfillment.status == 'SENT' %} 
                        sent 
                    {% elif order.fulfillment.status == 'CANCELLED' %}
                        canceled
                    {% elif order.fulfillment.status == 'PICKED_UP' %}
                        picked_up
                    {% endif %}"
                >
                    <input 
                        class="labels" 
                        type="checkbox" 
                        name="selected_items" 
                        {% if order.fulfillment.status == 'NEW' and order.status == 'READY_FOR_PROCESSING' %}
                            value="{{ order.id }}:{{ name }}:{{ order.delivery.method.name }}:{{ order.fulfillment.status }}:{{ order.status }}"
                        {% endif %}
                    >
                    {% for item in order.lineItems %}
                        <a class="name_o" href="{% url 'get_order_details' order.id name   %}">{{ item.offer.name }}</a>
                        <p class="account_o" id="name_{{ order.id }}" value="{{ name }}">{{ name }}</p> <!-- Konto -->
                        <p class="sku_o">{{ item.offer.external.id }}</p> 
                        <p class="stock_o">{{ item.quantity }}</p> 
                    {% endfor %}

                    <p class="costs_o">{{ order.summary.totalToPay.amount }} {{ order.summary.totalToPay.currency }}</p> 

                    {% if order.status == 'FILLED_IN' %}
                        <p value="{{ order.id }}_{{ order.status }}" class="status_o">PŁATNOŚĆ ROZPOCZĘTA</p>
                    {% elif order.status == 'READY_FOR_PROCESSING' %}
                        <p value="{{ order.id }}_{{ order.status }}" class="status_o">OPŁACONE</p>
                    {% elif order.status == 'CANCELLED' %}
                        <p value="{{ order.id }}_{{ order.status }}" class="status_o">ANULOWANE</p>
                    {% else %}
                        <p value="{{ order.id }}_{{ order.status }}" class="status_o"></p>
                    {% endif %}

                    <p class="client_o">{{ order.buyer.login }}</p>
                    <p class="shipment_o">{{ order.delivery.method.name }}</p>

                    <select class="account_select order_o" id="status_select_{{ order.id }}">
                        <option id="status_{{ order.id }}" value="SENT" {% if order.fulfillment.status == 'SENT' %} selected {% endif %}>WYSŁANE</option>
                        <option id="status_{{ order.id }}" value="READY_FOR_PROCESSING" {% if order.fulfillment.status == 'NEW' %} selected {% endif %}>NOWE</option>
                        <option id="status_{{ order.id }}" value="CANCELLED" {% if order.fulfillment.status == 'CANCELLED' %} selected {% endif %}>ANULOWANE</option>
                        <option id="status_{{ order.id }}" value="PICKED_UP" {% if order.fulfillment.status == 'PICKED_UP' %} selected {% endif %}>DOSTARCZONE</option>
                    </select>

                    <img class="icon edit_o" id="edit_{{ order.id }}" onclick="updateOrderStatus('{{ order.id }}', 'status_select_{{ order.id }}')" src="{% static 'icons/edit2.png' %}" alt="">
                    <img style="display: none;" class="icon edit_o" id="load_{{ order.id }}"  src="{% static 'icons/load.png' %}" alt="">
                    
                    {% if order.delivery.method.name == 'Allegro Kurier DPD' %}
                        <p class="label_o" onclick="printOneLabel('{{ order.id }}')" value="{{ order.id }}" id="tdOne">DPD</p>
                    {% else %}
                        <p class="label_o"></p>
                    {% endif %}
                </div>
            

            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if all_results.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ all_results.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ all_results.number }} of {{ all_results.paginator.num_pages }}.
                    </span>
            
                    {% if all_results.has_next %}
                        <a href="?page={{ all_results.next_page_number }}">next</a>
                        <a href="?page={{ all_results.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
    <script>

        function getCSRFToken() {
            const cookieValue = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
            return cookieValue;
        }
        
        // Axios configuration to include CSRF token in headers
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';



        function updateOrderStatus(offerId, selectId) {

            // console.log('updateOrderStatus offerId clicked', offerId)
            // console.log('updateOrderStatus selectId clicked', selectId)

            const load = document.getElementById('load_'+ offerId)
            const edit = document.getElementById('edit_' + offerId);
            load.style.display = 'block';
            edit.style.display = 'none';

            // Get the value from the input field
            // var nameId = document.getElementById('name');
            // var name = nameId.getAttribute('value');
            // console.log('updateOrderStatus name clicked', name)
            var nameId = document.getElementById('name_' + offerId);
            var name = nameId.getAttribute('value');
            console.log('updateOrderStatus name clicked', name);

            var selectElement = document.getElementById(selectId);
            var selectedStatus = selectElement.value;

            console.log('Selected status:', selectedStatus);

            // Make an AJAX request to update the stock value
            axios.put('/change_status/' + offerId + '/' + name + '/' + selectedStatus + '/')
                .then(function(response) {
                    console.log('status', response.data.newStatus)
                    if(response.status == 200) {
                        document.getElementById('load_'+ offerId).style.display = 'none';
                        load.style.display = 'none';
                        edit.style.display = 'block';
                        document.getElementById('stock_' + offerId).value = response.data.newValue;
                        // location.reload();
                        // window.location.href = '/get_orders';
                        console.log('Success', response.data.message)
                    }
                })
                .catch(function(error) {
                    // Handle error
                    console.error('Error updating stock:', error);
                });
        }


        function printOneLabel(orderId) {
            console.log('printOneLabel', orderId)
            var questionOne = document.getElementById('questionOne')
            var textOne = document.getElementById('textOne')

            questionOne.style.display = 'flex';
            textOne.innerHTML = '';
            textOne.textContent = "Wydrukować pojedyńczą etykietę?";
        }

        function getYesPrintOne() {

            // var wait = document.getElementById('wait');
            // wait.style.display = 'flex';

            var questionOne = document.getElementById('questionOne')
            var textOne = document.getElementById('textOne');
            questionOne.style.display = 'none';
            textOne.innerHTML = '';

            var tdOne = document.getElementById('tdOne');
            tdOneValue = tdOne.getAttribute('value');
            console.log('tdOneValue', tdOneValue)
            var url = '/create_label_DPD/' + tdOneValue + '/';

            window.open(url, '_blank');

        }

        function getNoPrintOne() {
            var questionOne = document.getElementById('questionOne')
            var textOne = document.getElementById('textOne')
            questionOne.style.display = 'none';
            textOne.innerHTML = '';
        }


        function allLabels() {

            var question = document.getElementById('question')
            var text = document.getElementById('text')

            question.style.display = 'flex';
            text.innerHTML = '';
            text.textContent = "Wydrukować etykiety?";

        }



        // function setToSend() {

        //     var checkboxes = document.querySelectorAll('input[name="selected_items"]');
        //     var fulfill = document.querySelectorAll('div[name="fulfillmentStatus"]');
        //     var fulfilltems = [];

        //     // Iterate over each checkbox
        //     fulfill.forEach(function(el) {
        //         if (el.getAttribute('value')) {
        //             // console.log('status =>', checkbox.getAttribute('value'));
        //             fulfilltems.push(el.getAttribute('value'));
        //         }
        //     });
        //     console.log(fulfilltems);

        //     // var url = '/set_shipment_list/?ids=' + fulfilltems;
        //     axios.post('/set_shipment_list/?ids=' + fulfilltems)
        //         .then(function(response) {
        //             if(response.status == 200) {
        //                 console.log('Success', response.data)
        //                 // Set the value of each checkbox with the received IDs
        //                 response.data.result.forEach(function(res, index) {
        //                     var check = document.getElementById('check_' + res["id"]);
        //                     console.log('response.data', res["id"], index, check);
        //                     if (check) {
        //                         check.checked = true;
        //                         check.value = res["commandId"] + ':' + res["name"];
        //                     }
        //                 });
        //             }
        //         })
        //         .catch(function(error) {
        //             // Handle error
        //             console.error('Error updating stock:', error);
        //         });
        //     // window.location.href = url;
        //     // wait.style.display = 'none';

        // }


        function getYes() {

            var wait = document.getElementById('wait');
            wait.style.display = 'flex';

            // Get all checkboxes with the name "selected_items"
            var checkboxes = document.querySelectorAll('input[name="selected_items"]');
            var question = document.getElementById('question')
            var text = document.getElementById('text');
            question.style.display = 'none';
            text.innerHTML = '';

            // Initialize an empty array to store the checked checkbox values
            var checkedItems = [];

            // Iterate over each checkbox
            checkboxes.forEach(function(checkbox) {
                // Check if the checkbox is checked
                if (checkbox.checked) {
                    console.log('checkbox =>', checkbox.value)
                    checkedItems.push(checkbox.value);
                }
            });

            // Log the array of checked checkbox values
            console.log(checkedItems);

            // var url = '/create_label_in_bulk_DPD/?ids=' + checkedItems;
            var url = '/set_shipment_list/?ids=' + checkedItems;
            window.location.href = url;
            wait.style.display = 'none';

        }

        function getNo() {
            var noPickup = "no_pickup";
            var checkboxes = document.querySelectorAll('input[name="selected_items"]');
            var question = document.getElementById('question')
            var text = document.getElementById('text');
            question.style.display = 'none';
            text.innerHTML = '';
        }

    </script>
   
</body>
{% endblock %}
</html>