{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="get_orders.css"> -->
    <title>Zamówienia</title>
    <style>
        table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
    </style>

</head>
{% block content %}
<body>
    <h1>Zamówienia:</h1>
    <table>
        <thead>
            <tr class="list__header"> 
                <th>Produkt</th>
                <th>Konto</th>
                <th>SKU</th>
                <th>Ilość</th>
                <th>Koszty</th>
                <th>Status</th>
                <th>Klient</th>
                <th>Wysyłka</th>
                <th>Zamówienie</th>
                <th>Szczegóły</th>
            </tr>
        </thead>
        <tbody>
            {% for result in all_results %}
            {% for order in result.checkoutForms %}



            {% if order.delivery.calculatedNumberOfPackages == 2 %}
                    <tr>
                        {% for item in order.lineItems %}
                            <tr class="double">
                                <td>{{ item.offer.name }}</td> <!-- Product -->
                                <td id="name_{{ order.id }}" value="{{ result.name }}">{{ result.name }}</td> <!-- Konto -->
                                <td>{{ item.offer.external.id }}</td> <!-- SKU -->
                                <td>{{ item.quantity }}</td> <!-- Ilość -->


                                {% if forloop.counter == 1 %}

                                    <td>{{ order.summary.totalToPay.amount }} {{ order.summary.totalToPay.currency }}</td> <!-- Koszty -->

                                    {% if order.status == 'FILLED_IN' %}
                                        <td>PŁATNOŚĆ ROZPOCZĘTA</td>
                                    {% elif order.status == 'READY_FOR_PROCESSING' %}
                                        <td>OPŁACONE</td>
                                    {% elif order.status == 'CANCELLED' %}
                                        <td>ANULOWANE</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    <td>{{ order.buyer.login }}</td>
                                    <td>{{ order.delivery.method.name }}</td>

                                    <!-- {% if order.fulfillment.status %} -->
                                        <td>
                                            <select id="status_select_{{ order.id }}">
                                                <option id="status_{{ order.id }}" value="FILLED_IN" {% if order.fulfillment.status == 'SENT' %} selected {% endif %}>WYSŁANE</option>
                                                <option id="status_{{ order.id }}" value="READY_FOR_PROCESSING" {% if order.fulfillment.status == 'NEW' %} selected {% endif %}>NOWE</option>
                                                <option id="status_{{ order.id }}" value="CANCELLED" {% if order.fulfillment.status == 'CANCELLED' %} selected {% endif %}>ANULOWANE</option>
                                                <!-- Add more options for other statuses if needed -->
                                            </select>
                                            <img class="icon" id="edit_{{ order.id }}" onclick="updateOrderStatus('{{ order.id }}', 'status_select_{{ order.id }}')" src="{% static 'icons/edit.png' %}" alt="">
                                            <img style="display: none;" class="icon" id="load_{{ order.id }}"  src="{% static 'icons/load.png' %}" alt="">
                                        </td>
                                    <!-- {% else %}
                                        <td></td>
                                    {% endif %} -->

                                    <td><a href="{% url 'create_label_DPD' order.id %}">DPD</a></td>
                                    <td><a href="{% url 'get_order_details' order.id %}">Go</a></td>


                                {% else %}
                                    <td></td> 
                                    <td></td>
                                    <td></td>
                                    <td></td> 
                                    <td></td>
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tr>
                    
            {% else %}

            

            <tr>

                    {% for item in order.lineItems %}
                        <td>{{ item.offer.name }}</td> 
                        <td id="name_{{ order.id }}" value="{{ result.name }}">{{ result.name }}</td> <!-- Konto -->
                        <td>{{ item.offer.external.id }}</td> 
                        <td>{{ item.quantity }}</td> 
                    {% endfor %}

                    <td>{{ order.summary.totalToPay.amount }} {{ order.summary.totalToPay.currency }}</td> 

                    {% if order.status == 'FILLED_IN' %}
                        <td>PŁATNOŚĆ ROZPOCZĘTA</td>
                    {% elif order.status == 'READY_FOR_PROCESSING' %}
                        <td>OPŁACONE</td>
                    {% elif order.status == 'CANCELLED' %}
                        <td>ANULOWANE</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td>{{ order.buyer.login }}</td>
                    <td>{{ order.delivery.method.name }}</td>

                        <td>
                            <select id="status_select_{{ order.id }}">
                                <option id="status_{{ order.id }}" value="SENT" {% if order.fulfillment.status == 'SENT' %} selected {% endif %}>WYSŁANE</option>
                                <option id="status_{{ order.id }}" value="READY_FOR_PROCESSING" {% if order.fulfillment.status == 'NEW' %} selected {% endif %}>NOWE</option>
                                <option id="status_{{ order.id }}" value="CANCELLED" {% if order.fulfillment.status == 'CANCELLED' %} selected {% endif %}>ANULOWANE</option>
                                <option id="status_{{ order.id }}" value="PICKED_UP" {% if order.fulfillment.status == 'PICKED_UP' %} selected {% endif %}>DOSTARCZONE</option>
                            </select>

                            <img class="icon" id="edit_{{ order.id }}" onclick="updateOrderStatus('{{ order.id }}', 'status_select_{{ order.id }}')" src="{% static 'icons/edit.png' %}" alt="">
                            <img style="display: none;" class="icon" id="load_{{ order.id }}"  src="{% static 'icons/load.png' %}" alt="">

                        </td>

                    <td><a href="{% url 'create_label_DPD' order.id %}">DPD</a></td>
                    <td><a href="{% url 'get_order_details' order.id %}">Go</a></td>


            </tr>
            
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        function getCSRFToken() {
            const cookieValue = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
            return cookieValue;
        }
        
        // Axios configuration to include CSRF token in headers
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';



        function updateOrderStatus(offerId, selectId) {

            // console.log('updateOrderStatus offerId clicked', offerId)
            // console.log('updateOrderStatus selectId clicked', selectId)

            const load = document.getElementById('load_'+ offerId)
            const edit = document.getElementById('edit_' + offerId);
            load.style.display = 'block';
            edit.style.display = 'none';

            // Get the value from the input field
            // var nameId = document.getElementById('name');
            // var name = nameId.getAttribute('value');
            // console.log('updateOrderStatus name clicked', name)
            var nameId = document.getElementById('name_' + offerId);
            var name = nameId.getAttribute('value');
            console.log('updateOrderStatus name clicked', name);

            var selectElement = document.getElementById(selectId);
            var selectedStatus = selectElement.value;

            console.log('Selected status:', selectedStatus);

            // Make an AJAX request to update the stock value
            axios.put('/change_status/' + offerId + '/' + name + '/' + selectedStatus + '/')
                .then(function(response) {
                    console.log('status', response.data.newStatus)
                    if(response.status == 200) {
                        document.getElementById('load_'+ offerId).style.display = 'none';
                        load.style.display = 'none';
                        edit.style.display = 'block';
                        document.getElementById('stock_' + offerId).value = response.data.newValue;
                        // location.reload();
                        // window.location.href = '/get_orders';
                        console.log('Success', response.data.message)
                    }
                })
                .catch(function(error) {
                    // Handle error
                    console.error('Error updating stock:', error);
                });
        }
    </script>
   
</body>
{% endblock %}
</html>