{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferty</title>
</head>

{% block content %}
<body>
    
    <div class="offers__cont">
        {% for offer in result.offers %}

            <div class="offers__line">
                <img src="{{offer.primaryImage.url}}" alt="" width="100" height="100">
                <p>{{ offer.name }}</p>
            </div>

        {% endfor %}
    </div>

</body>
{% endblock %}
</html>