<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Authorization Code for {{ name }}</h1>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>


    <script>

        // Axios configuration to include CSRF token in headers
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

        function getCSRFToken() {
            const cookieValue = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
            return cookieValue;
        }

        // Extract authorization code from URL
        function sendAuthorizationCode() {
            var csrftoken = getCSRFToken('csrftoken');
            const urlParams = new URLSearchParams(window.location.search);
            const code = urlParams.get('code');
            const name = '{{ name }}'
            console.log(name, code)
            if (code && name) {
                // console.log('code:', code);
                // Get CSRF token from cookies
                // const csrftoken = getCookie('csrftoken');

                // Set CSRF token in Axios headers
                // axios.defaults.headers.common['X-CSRFToken'] = csrftoken;

                var response = axios.post(`http://localhost:8000/get_access_token/${code}/${name}/`,
                    {
                        headers: {
                        'X-CSRFToken': csrftoken
                    }
                    }
                )

                console.log('response', response)
                    
                    // .then(response => {
                    //     console.log("new code resp", response.data);
                    //     window.location.href = 'http://127.0.0.1:8000/';
                    // })
                    // .catch(error => {
                    //     console.error(error);
                    //     // Handle error if needed
                    // });
            }
        }

        // Function to get CSRF token from cookies
        function getCookie(name) {
            const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
            return cookieValue ? cookieValue.pop() : '';
        }

        // Automatically send authorization code when the page loads
        window.onload = function() {
            sendAuthorizationCode();
        };
    </script>
</body>
</html>