<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="get_orders.css"> -->
    <title>Zamówienia</title>
    <style>
        table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
    </style>
</head>
<body>
    <h1>Zamówienia:</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Product</th>
                <th>SKU</th>
                <th>Ilość</th>
                <th>Cena</th>
                <th>Koszty wysyłki</th>
                <th>Razem</th>
                <th>Klient</th>
                <th>Login</th>
                <th>Wysyłka</th>
                <th>Adres wysyłki</th>
            </tr>
        </thead>
        <tbody>
            {% for order in result.checkoutForms %}
            <tr>
                <td>{{ order.id }}</td>  <!-- ID -->
                <td>{{ order.fulfillment.status }}</td>
                {% for item in order.lineItems %}
                    <td>{{ item.offer.name }}</td> <!-- Product -->
                    <td>{{ item.offer.external.id }}</td> <!-- SKU -->
                    <td>{{ item.quantity }}</td> <!-- Ilość -->
                    <td>{{ item.originalPrice.amount }} {{ item.offer.originalPrice.currency }}</td> <!-- Cena -->
                {% endfor %}
                <td>{{ order.delivery.cost.amount }} {{ order.delivery.cost.currency }}</td>
                <td>{{ order.summary.totalToPay.amount }} {{ order.summary.totalToPay.currency }}</td>
                <td>{{ order.buyer.firstName }} {{ order.buyer.lastName }}</td>
                <td>{{ order.buyer.login }}</td>
                <td>{{ order.delivery.method.name }}</td>
                <td>
                    {% if order.delivery.address %}
                        {{ order.delivery.address.street }},
                        {{ order.delivery.address.city }},
                        {{ order.delivery.address.postCode }},
                        {{ order.delivery.address.countryCode }}
                    {% else %}
                        Not specified
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   
</body>
</html>