{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferty</title>
</head>

{% block content %}
<body>
    
    <div class="offers__cont">

        <h1 id="name" value="{{ name }}">{{ name }}</h1>

        {% for offer in result.offers %}

            <div class="offers__line">
                <img class="photo" src="{{offer.primaryImage.url}}" alt="">
                <p>{{ offer.name }}</p>
                <p>
                    <input type="text" id="stock_{{ offer.id }}" value="{{ offer.stock.available }}">
                    <div id="load_{{ offer.id }}" style="display: none;">
                        <img class="icon loading" src="{% static 'icons/load.png' %}" alt="">
                    </div>
                    <img id="edit_{{ offer.id }}" class="icon" src="{% static 'icons/edit.png' %}" onclick="editStock('{{ offer.id }}')">
                </p>
                <p>{{ offer.publication.status }}</p>
                <p>{{ offer.stock.sold }}</p>
                <select id="account_select_{{ order.id }}">
                    {% for name in accounts  %}
                        <option id="status_{{ offer.id }}" value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                    <!-- Add more options for other statuses if needed -->
                </select>
                <a onclick="postOffer('{{ offer.id }}', document.getElementById('account_select_{{ order.id }}').value)">Wystawić</a>
                <a onclick="getOffer('{{ offer.id }}')">Więcej</a>
            </div>

        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function getCSRFToken() {
            const cookieValue = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
            return cookieValue;
        }
        
        // Axios configuration to include CSRF token in headers
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

        function editStock(offerId) {
            const load = document.getElementById('load_'+ offerId)
            const edit = document.getElementById('edit_' + offerId);
            load.style.display = 'block';
            edit.style.display = 'none';

            var nameId = document.getElementById('name');
            var name = nameId.getAttribute('value');
            console.log('editStock name clicked', name);

        // Get the value from the input field
        var newStock = document.getElementById('stock_' + offerId).value;
        console.log('newStock', newStock)

        // Make an AJAX request to update the stock value
        axios.patch('/edit_offer_stock/' + offerId + '/', { stock: newStock, name: name })
            .then(function(response) {
                console.log('status', response.data.newValue)
                if(response.status == 200) {
                    // document.getElementById('load_'+ offerId).style.display = 'none';
                    load.style.display = 'none';
                    edit.style.display = 'block';
                    document.getElementById('stock_' + offerId).value = response.data.newValue;
                    // location.reload();
                    console.log('Success', response.data.message)
                }
            })
            .catch(function(error) {
                // Handle error
                console.error('Error updating stock:', error);
            });
        }



        function getOffer(offerId) {

        // Get the value from the input field
        var nameId = document.getElementById('name');
        var name = nameId.getAttribute('value');
        console.log('editStock name clicked', name);

        // Make an AJAX request to update the stock value
        axios.post('/get_one_offer/' + offerId + '/', { name: name })
            .then(function(response) {
                console.log('status', response.data.newValue)
                if(response.status == 200) {
                    var context = response.data.context
                    console.log('Success', context)
                    // window.location.href = 'http://127.0.0.1:8000/';
                }
            })
            .catch(function(error) {
                // Handle error
                console.error('Error updating stock:', error);
            });
        }

        function postOffer(offerId, name) {

        // Get the name value of Lister
        var listerId = document.getElementById('name');
        var lister = listerId.getAttribute('value');
        console.log('lister chacked', lister);

        console.log('postOffer clicked', offerId);
        var name2 = 'alfapro'
        console.log('account clicked', name2);

        // Make an AJAX request to update the stock value
        axios.post('/post_new_offer/' + offerId + '/', { name: name2, lister: lister })
            .then(function(response) {
                console.log('status', response.data.newValue)
                if(response.status == 200) {
                    // var context = response.data.context
                    console.log('Success post_new_offer')
                    // window.location.href = 'http://127.0.0.1:8000/';
                }
            })
            .catch(function(error) {
                // Handle error
                console.error('Error updating stock:', error);
            });
        }

    </script>

</body>
{% endblock %}
</html>