{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="get_orders.css"> -->
    <title>Zamówienia</title>

</head>
{% block content %}
<body>
    <h1>Zamówienia:</h1>
    <div id="question">
        <p id="text"></p>
        <div>
            <button onclick="getNo()">Nie</button>
            <button onclick="getYes()">Tak</button>
        </div>
    </div>
    <!-- <div id="questionOne">
        <p id="textOne"></p>
        <div>
            <button onclick="getNoPrintOne()">Nie</button>
            <button onclick="getYesPrintOne()">Tak</button>
        </div>
    </div> -->
    <div id="wait">
        <p>Proczę czekać...</p>
        <img class="icon loading" src="{% static 'icons/load.png' %}" alt="">
    </div>

        <div class="offers__cont">
>
                <div class="list__header_orders">
                    <p class="labels" onclick="allLabels()"  id="getName" value="{{ name }}">{{ name }}</p>
                    <input class="check_o labels" type="button" id="check-all-button">
                    <p class="name_o" >Produkt</p>
                    <p class="account_o" >Konto</p>
                    <p class="sku_o" >SKU</p>
                    <p class="stock_o">Ilość</p>
                    <p class="costs_o">Koszty</p>
                    <p class="status_o">Status</p>
                    <p class="client_o">Klient</p>

                    <select class="shipment_o account_select order" id="delivery_select">
                        <option selected value="all">Wysyłka</option>
                        <option value="Allegro Kurier Pocztex">Allegro Kurier Pocztex</option>
                        <option value="Allegro Kurier UPS">Allegro Kurier UPS</option>
                        <option value="Allegro Kurier DHL">Allegro Kurier DHL</option>
                        <option value="Allegro Kurier DPD">Allegro Kurier DPD</option>
                        <option value="Allegro Kurier DPD Pobranie">Allegro Kurier DPD Pobranie</option>
                        <option value="Allegro Odbiór w Punkcie DPD Pickup">Allegro Odbiór w Punkcie DPD Pickup</option>
                        <option value="Allegro Odbiór w Punkcie ORLEN Paczka">Allegro Odbiór w Punkcie ORLEN Paczka</option>
                        <option value="Allegro One Box, DPD">Allegro One Box, DPD</option>
                        <option value="Allegro One Box, UPS">Allegro One Box, UPS</option>
                        <option value="Allegro One Punkt, UPS">Allegro One Punkt, UPS</option>
                        <option value="Allegro One Punkt, DPD">Allegro One Punkt, DPD</option>
                        <option value="Allegro Odbiór w Punkcie ORLEN Paczka">Allegro Odbiór w Punkcie ORLEN Paczka</option>
                        <option value="Allegro Odbiór w Punkcie UPS">Allegro Odbiór w Punkcie UPS</option>
                        <option value="Allegro Odbiór w Punkcie DHL">Allegro Odbiór w Punkcie DHL</option>
                        <option value="Allegro Automat DHL POP BOX">Allegro Automat DHL POP BOX</option>
                        <option value="Allegro Automat ORLEN Paczka">Allegro Automat ORLEN Paczka</option>
                        <option value="Allegro Automat Pocztex">Allegro Automat Pocztex</option>
                    </select>

                </div>

            {% for order in all_results %}       

                <div 
                    name="fulfillmentStatus"
                    class="offers__line
                    {% if order.fulfillment.status == 'SENT' %} 
                        sent 
                    {% elif order.fulfillment.status == 'CANCELLED' %}
                        canceled
                    {% elif order.fulfillment.status == 'PICKED_UP' %}
                        picked_up
                    {% endif %}"
                >
                    <input 
                        class="labels" 
                        type="checkbox" 
                        name="selected_items" 
                        data-fulfillment-status="{{ order.fulfillment.status }}"

                            value="{{ order.id }}:{{ name }}:{{ order.delivery.method.name }}:{{ order.lineItems.0.offer.id }}@"
                        
                    >
                    <div class="order">
                        {% for item in order.lineItems %}
                            <div class="lineItems">
                                <a class="name" href="{% url 'get_order_details' order.id name %}">{{ item.offer.name }}</a>
                                <!-- <p class="account" id="name_{{ order.id }}" value="{{ name }}">{{ name }}</p> Konto -->
                                <div class="skuCosts">
                                    <p class="sku">{{ item.offer.external.id }}</p>
                                    <p class="stock">{{ item.quantity }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <p class="costs">{{ order.summary.totalToPay.amount }} {{ order.summary.totalToPay.currency }}</p> 

                    {% if order.status == 'FILLED_IN' %}
                        <p value="{{ order.id }}_{{ order.status }}" class="status">NIE OPŁACONE</p>
                    {% elif order.status == 'READY_FOR_PROCESSING' %}
                        <p value="{{ order.id }}_{{ order.status }}" class="status">OPŁACONE</p>
                    {% elif order.status == 'CANCELLED' %}
                        <p value="{{ order.id }}_{{ order.status }}" class="status">ANULOWANE</p>
                    {% else %}
                        <p value="{{ order.id }}_{{ order.status }}" class="status"></p>
                    {% endif %}

                    <p class="client">{{ order.buyer.login }}</p>
                    <p class="shipment">{{ order.delivery.method.name }}</p>

                    <select class="account_select order" id="status_select_{{ order.id }}">
                        <option id="status_{{ order.id }}" value="SENT" {% if order.fulfillment.status == 'SENT' %} selected {% endif %}>WYSŁANE</option>
                        <option id="status_{{ order.id }}" value="READY_FOR_PROCESSING" {% if order.fulfillment.status == 'NEW' %} selected {% endif %}>NOWE</option>
                        <option id="status_{{ order.id }}" value="CANCELLED" {% if order.fulfillment.status == 'CANCELLED' %} selected {% endif %}>ANULOWANE</option>
                        <option id="status_{{ order.id }}" value="PICKED_UP" {% if order.fulfillment.status == 'PICKED_UP' %} selected {% endif %}>DOSTARCZONE</option>
                    </select>

                    <img class="icon edit" id="edit_{{ order.id }}" onclick="updateOrderStatus('{{ order.id }}', 'status_select_{{ order.id }}', '{{ order.delivery.method.name }}')" src="{% static 'icons/edit2.png' %}" alt="">
                    <img style="display: none;" class="icon edit" id="load_{{ order.id }}"  src="{% static 'icons/load.png' %}" alt="">

                </div>
            

            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if all_results.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ all_results.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ all_results.number }} of {{ all_results.paginator.num_pages }}.
                    </span>
            
                    {% if all_results.has_next %}
                        <a href="?page={{ all_results.next_page_number }}">next</a>
                        <a href="?page={{ all_results.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var defaultOption = "all";  // Set your default option value here
            var selectElement = document.getElementById('delivery_select');
            
            selectElement.value = defaultOption;
        });

        document.getElementById('check-all-button').addEventListener('click', function() {
            // Select all checkboxes with the name 'selected_items'
            var checkboxes = document.querySelectorAll('input[name="selected_items"]');
            
            // Loop through each checkbox
            checkboxes.forEach(function(checkbox) {
                // Check only if the fulfillment status is 'NEW' and it is currently unchecked
                if (checkbox.dataset.fulfillmentStatus === 'NEW' && !checkbox.checked) {
                    checkbox.checked = true;
                    console.log('checkbox', checkbox.value)
                }
                else if (checkbox.checked) {
                    checkbox.checked = false;
                }
            });
        });

    </script>

    <script>

        function getCSRFToken() {
            const cookieValue = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
            return cookieValue;
        }
        
        // Axios configuration to include CSRF token in headers
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';



        function updateOrderStatus(offerId, selectId, deliveryMethod) {

            // console.log('updateOrderStatus offerId clicked', offerId)
            // console.log('updateOrderStatus selectId clicked', selectId)

            const load = document.getElementById('load_'+ offerId)
            const edit = document.getElementById('edit_' + offerId);
            load.style.display = 'block';
            edit.style.display = 'none';

            var nameId = document.getElementById('name_' + offerId);
            var name = nameId.getAttribute('value');
            console.log('updateOrderStatus name clicked', name);

            var selectElement = document.getElementById(selectId);
            var selectedStatus = selectElement.value;

            console.log('Selected status:', selectedStatus);

            // Make an AJAX request to update the stock value
            axios.put('/change_status/' + offerId + '/' + name + '/' + selectedStatus + '/' + deliveryMethod + '/')
                .then(function(response) {
                    console.log('status', response.data.newStatus)
                    if(response.status == 200) {
                        document.getElementById('load_'+ offerId).style.display = 'none';
                        load.style.display = 'none';
                        edit.style.display = 'block';
                        document.getElementById('stock_' + offerId).value = response.data.newValue;
                        // location.reload();
                        // window.location.href = '/get_orders';
                        console.log('Success', response.data.message)
                    }
                })
                .catch(function(error) {
                    // Handle error
                    console.error('Error updating stock:', error);
                });
        }


        function allLabels() {

            var question = document.getElementById('question')
            var text = document.getElementById('text')

            question.style.display = 'flex';
            text.innerHTML = '';
            text.textContent = "Wydrukować etykiety?";

        }



        function getYes() {

            var wait = document.getElementById('wait');
            wait.style.display = 'flex';

            var getName = document.getElementById('getName')
            var name = getName.getAttribute('value');

            // Get all checkboxes with the name "selected_items"
            var checkboxes = document.querySelectorAll('input[name="selected_items"]');
            var question = document.getElementById('question')
            var text = document.getElementById('text');
            question.style.display = 'none';
            text.innerHTML = '';

            // Initialize an empty array to store the checked checkbox values
            var checkedItems = [];

            // Iterate over each checkbox
            checkboxes.forEach(function(checkbox) {
                // Check if the checkbox is checked
                if (checkbox.checked) {
                    console.log('checkbox =>', checkbox.value)
                    checkedItems.push(checkbox.value);
                }
            });

            // Log the array of checked checkbox values
            console.log(checkedItems);
            console.log('name', name);

            // var url = '/create_label_in_bulk_DPD/?ids=' + checkedItems;

            var url = `/set_shipment_list/${name}/?ids=` + checkedItems;
            window.location.href = url;
            wait.style.display = 'none';

        }

        function getNo() {
            var noPickup = "no_pickup";
            var checkboxes = document.querySelectorAll('input[name="selected_items"]');
            var question = document.getElementById('question')
            var text = document.getElementById('text');
            question.style.display = 'none';
            text.innerHTML = '';
        }

    </script>

    <script>
        document.getElementById('delivery_select').addEventListener('change', function() {
            var delivery = this.value;
            var getName = document.getElementById('getName')
            var name = getName.getAttribute('value');
        
            // var url = `{% url 'get_orders' 'exampleName' 'all' %}`;  // Temporary URL to get the base pattern
            // url = url.replace('exampleName', name).replace('all', encodeURIComponent(selectedOption));

            var url = `/get_orders/${name}/${delivery}/`
            window.location.href = url;
        });
    </script>
   
</body>
{% endblock %}
</html>