{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferty</title>
</head>

{% block content %}
<body>

    <div id="error_13" style="display: none;">
        Nieprawidłowa zawartość EAN
        <button onclick="closeError()">X</button>
    </div>

    <div id="error" style="display: none;">
        Wystąpił błąd, skontaktuj się z właścicielem aplikacji
        <button onclick="closeError()">X</button>
    </div>

    <div id="loadIcon" style="display: none;">
        <img class="icon loading" src="{% static 'icons/load.png' %}" alt="">
    </div>

        <div class="list__header_orders">
            <p class="print" id="name" >{{name}}</p>
            <input class="check_o labels" type="button" id="check-all-button">
            <select class="edit_h var_select order" id="status_select" onchange="bulkEdit()">
                <option selected disabled value=" ">Edytuj...</option>
                <option value="PRICE">Cena</option>
                <option value="QUANTITY">Ilość</option>
                <option value="STATUS">Status</option>
                <option value="DELIVERY_PRICE">Cennik dostawy</option>
                <option value="DELIVERY_TIME">Czas wysyłki</option>
                <option value="BULK_PRICE">Cennik hurtowy</option> 
                <option value="VAT_INFO">Informacje o fakturze</option>
                <option value="POST_OFFERS">Wystaw oferty</option>
                <option value="JSON_OFFERS">Zapisz oferty (json)</option>
            </select>

            <input type="search" class="search_h" id="searchInput" placeholder="Szukaj..." onkeyup="searchOffers()">

            <select class="vat__select var_select" id="vatSelect" required>
                <option value="" selected disabled>VAT</option>
                <option value="23.00">23%</option>
                <option value="5.00">5%</option>
            </select>

            <select class="aftersale_select var_select" id="afterSaleSelect" required>
                <option value="" selected disabled>Reklamacja...</option>
                {% for method in aftersale_services.returnPolicies %}
                    <option id="method_{{ forloop.counter }}" value="{{ method.id }}">
                        {{ method.name }}
                    </option>
                {% endfor %}
            </select>

            <select class="delivery_select var_select" id="deliverySelect" required>
                <option value="" selected disabled>Dostawa...</option>
                {% for method in shipping_rates.shippingRates %}
                    <option id="method_{{ forloop.counter }}" value="{{ method.id }}">
                        {{ method.name }}
                    </option>
                {% endfor %}
            </select>
            <button class="jsn_start_absl jsn_start" id="jsnStart" onclick="jsnStartGo()">Załaduj aukcję</button>
            <form class="jsn_h" method="post" id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="jsonFile" name="jsonFile" accept="application/json">
                <button type="button" onclick="uploadFile()">Upload</button>
            </form>
        </div>

        <div class="list__header_orders_media">
            <p class="print" id="name" value="{{ name }}">{{name}}</p>
        </div>

        {% if offers_list %}
            <p>{{ offers_list }}</p>
        {% endif %}

        <div id="SetOffersContainer" class="set__offers__cont">

            <div id="messageBox" class="message-box" style="display: none; text-align: center;">
                <span id="messageText"></span>
                <button id="closeButton" class="close-button" onclick="closeMessage()">&times;</button>
            </div>

        {% for offer in result.offers %}

            <div class="set__row">
                <div class="set__offers__line" data-title="{{ offer.name }}" data-id="{{ offer.external.id }}">
                    <div class="conto">
                        <input 
                            class="labels" 
                            id="offer_{{ forloop.counter }}"
                            type="checkbox" 
                            name="selected_items" 
                            data-fulfillment-status="{{ offer.fulfillment.status }}"
                            data-forloop-counter="{{ forloop.counter }}"
                            value="{{ offer.id }}"               
                        >
                        <div class="conto__column">
                            <img class="set__photo" src="{{offer.primaryImage.url}}" alt="">
                            <p class="set__name">{{ offer.name }}</p> 
                            <p>{{offer.publication.status}}</p>
                            <p>{{ offer.id }}</p>
                            <p>{{ id }}</p>
                        </div>
                    </div>    
                </div>

                {% for set in sets %}
                {% if set.1.0.id == offer.id %}

                <div class="set__offers__line">
                    <div class="conto">
                        <div class="conto__column">
                            
                                <img class="set__photo" src="{{offer.primaryImage.url}}" alt="">
                                <p class="set__name">{{ offer.name }}</p>
                                {% for s in set.1|slice:":1" %}
                                    {% for of in result.offers %}
                                        {% if s.id == of.id %}
                                            <input style="width: 20px;" id="disc__piece_{{ offer.id }}" value="{{ s.quantity }}" type="text" onchange="setCount('{{ offer.id }}')">
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                <div class="price__cont">
                                    <p class="set__name" id="{{priceOfferFalse}}_{{set.id}}">{{ offer.sellingMode.price.amount }}</p>
                                    <p class="set__name" id="{{pcurrencyOfferFalse}}_{{set.id}}">{{ offer.sellingMode.price.currency }}</p>
                                </div>
                                <p class="set__name">{{ set.0.set_id }}</p>
                                {% for s in set.1|slice:"1:" %}
                                    {% for of in result.offers %}
                                        {% if s.id == of.id %}
                                            <img class="set__photo" src="{{of.primaryImage.url}}" alt="">
                                            <p class="set__name">{{ of.name }}</p>
                                            <label for="">Sztuki:</label>
                                            <input style="width: 20px;" id="disc__piece_{{ of.id }}" value="{{ s.quantity }}" type="text" onchange="setCount('{{ of.id }}')">
                                            <div class="price__cont" >
                                                <p class="set__name" id="{{priceSetFalse}}_{{of.id}}">{{ of.sellingMode.price.amount }}</p>
                                                <p class="set__name" id="{{pcurrencySetFalse}}_{{of.id}}">{{ of.sellingMode.price.currency }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                        </div>
                        <div class="conto__column">
                            <div class="conto__row">
                                <div class="add__set" onclick="copySet('{{ set|escapejs }}')">+</div>
                                <div class="add__set" onclick="setSearchMore()">+</div>
                                <div class="add__set" onclick="setSearch()">+</div>
                            </div>
                            <div class="discount">
                                <label for="">Rabat zł</label>
                                <input id="disc__money_{{ set.0.set_id }}" value="{{ set.3.discount }}" type="text">
                                <label for="">Rabat %</label>
                                <input id="disc__percent_{{ set.0.set_id }}" value="{{ set.5.discount_percentage }}" type="text">
                                <!-- <label for="">Sztuki</label>
                                <input id="disc__piece_{{ set.0.set_id }}" value="1" type="text"> -->
                                <div id="disc__price_{{ set.0.set_id }}" value="{{ set.2.price }}">
                                    <p>Cena do:</p>
                                    <p>{{ set.2.price }}</p>
                                </div>
                                <p>Cena po:</p>
                                <p id="afterPrice_{{ set.0.set_id }}">{{ set.4.price_after }}</p>
                                <button class="jsn_start" onclick="submitDiscount('{{ set.0.set_id }}', '{{ set.2.price }}')">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endif %}
                {% endfor %}

                {% if offer.publication.status == 'ACTIVE' %}
                    <div class="set__offers__line">
                        <div class="conto__row">
                            <div class="add__set" onclick="setSearch('{{forloop.counter}}')">+</div>
                            <div class="add__set" onclick="setsAdd('{{forloop.counter}}')">@</div>
                            <div class="add__set" onclick="submitCopySet('{{ offer.id }}')">>></div>
                        </div>
                    </div>
                {% endif %}

            </div>

        {% endfor %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
    <script>

        var name = document.getElementById('name').textContent;

        function getCSRFToken() {
            const cookieValue = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
            return cookieValue;
        }

        // Function to get CSRF token from cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches the desired name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // SEARCH OFFERS AND SETS
        function reFresh(forloopCounter) {
            window.location.href = `/set_offers/${name}/`;
        }


        // SEARCH OFFERS AND SETS
        function setSearch(forloopCounter) {
            offerId = document.getElementById('offer_' + forloopCounter).value;
            console.log('offerId', offerId)
            window.location.href = `/set_add/${name}/${offerId}`;
        }


        // ADD SET WITH MORE THAN 1 OFFER
        function setsAdd(forloopCounter) {
            offerId = document.getElementById('offer_' + forloopCounter).value;
            console.log('offerId', offerId)
            window.location.href = `/sets_add/${name}/${offerId}`;
        }



        // USER MESSAGES
        function showMessage(message, status) {
            const messageBox = document.getElementById('messageBox');
            const messageText = document.getElementById('messageText');
            messageText.textContent = message;
            messageBox.style.display = 'block';  
            if ( status === 200 ) {
                messageBox.style.backgroundColor = 'green';
            } else if ( status === 300 ) {
                messageBox.style.backgroundColor = 'blue';
            } else {
                messageBox.style.backgroundColor = 'red';
            }

            setTimeout(closeMessage, 3000);
        }

        function closeMessage() {
            const messageBox = document.getElementById('messageBox');
            messageBox.style.display = 'none';  // Hide the message box
        }


        // DEFINE COUNT FOR EACH ITEM IN SET
        let countArray = []
        function setCount(itemId) {
            console.log('itemId:', itemId);
            var itemCount = document.getElementById('disc__piece_' + itemId).value;
            countArray.push({ [itemId]: itemCount });
            console.log('countArray:', countArray);
        }

        // SUBMIT DISCOUNT
        function submitDiscount(set_id, price) {

            console.log('set_id:', set_id);
            console.log('price:', price);
            var csrftoken = getCSRFToken();
            let discMoney = parseFloat(document.getElementById('disc__money_' + set_id).value);
            const discPercent = parseFloat(document.getElementById('disc__percent_' + set_id).value);
            // const discPiece = parseInt(document.getElementById('disc__piece_' + set_id).value);
            const discPrice = parseInt(document.getElementById('disc__price_' + set_id).value);

            console.log('discMoney:', discMoney);
            console.log('discPercent:', discPercent);

            let priceAfter;

             if (discPercent !== 0) {
                priceAfter = (parseFloat(price) * discPercent) / 100 ; 
                discMoney = priceAfter
                console.log('priceAfter %:', priceAfter, discMoney);
                const afterPrice = document.getElementById('afterPrice_' + set_id);
                afterPrice.textContent = priceAfter.toFixed(2);
            } if (discMoney !== 0) {
                priceAfter = parseFloat(price) - discMoney;
                console.log('priceAfter:', priceAfter);
                const afterPrice = document.getElementById('afterPrice_' + set_id);
                afterPrice.textContent = priceAfter.toFixed(2);
            }

            console.log('discMoney data:', discMoney);

            // Create the data object to send to the server
            const data = {
                set_id: set_id,
                disc__money: discMoney || null,
                disc__percent: discPercent || null,
                // disc__piece: discPiece || 1,
                count_array: countArray || null,
                disc__price: parseFloat(price)|| null, 
            };

            console.log('data:', data);


            axios.post(`/add_discount/${name}/`, data, {
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
                .then(function (response) {                  
                    if (response.data.res.errors) {
                    //    console.log('Error:', response.data.res.errors[0].userMessage); 
                       showMessage(response.data.res.errors[0].userMessage, 500)
                    } else {
                        // console.log('Response:', response.data.res); 
                        showMessage(response.data.userMessage, 200)
                    }
                    countArray = []
                })
                .catch(function (error) {
                    console.error('There was an error!', error);
                    alert('There was an error submitting the discount.', error);
                });
        }


        // LIST WITH COPIED OFFER(S)
        var setContainer = []
        function copySet(set) {
            console.log('SET', set)
            let jsonString = set
            .replace(/'/g, '"')  // Replace single quotes with double quotes
            .replace(/True/g, 'true')  // Replace True with true
            .replace(/False/g, 'false');  // Replace False with false        
            console.log(jsonString);
            let array = JSON.parse(jsonString);
            console.log('SET array',  array);
            setContainer.push(array)
            showMessage('Zestaw został skopiowany do schowka', 200)
        }



        // function pasteSet() {
        //     console.log('setContainer', setContainer)
        //     console.log('set_id', setContainer[0][1])
        // }


        // SUBMIT DISCOUNT
        function submitCopySet(offerId) {

            var csrftoken = getCSRFToken();          

            // Create the data object to send to the server
            const data = {
                set_id: setContainer[0][0]['set_id'],
                main_offer: offerId,
                disc__money: setContainer[0][3] || null,
                disc__percent: setContainer[0][5] || null,
                count_array: setContainer[0][1] || null,
                disc__price: parseFloat(setContainer[0][2])|| 0, 
                price__after: setContainer[0][4],
                name: name,
            };

            // console.log('data:', data);


            axios.post(`/add_copy_offers_one/`, data, {
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
                .then(function (response) {                  
                    if ( response.data.context.status === 'ok' ) {
                        showMessage(response.data.context.message, 200)
                        setTimeout(reFresh, 1000);
                    } else if ( response.data.context.status === '!ok' ) {
                        showMessage(response.data.context.message, 300)
                        setTimeout(reFresh, 1000);
                    } else {
                        console.log('postSet', 500);
                        showMessage(response.data.context.message, 500)
                    }
                })
                .catch(function(error) {
                // Handle error
                console.error('Error updating stock:', error);
                showMessage(error, 500)
            });
            setContainer.length = 0
        }


        
</script>


</body>
{% endblock %}
</html>