{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

        <h3 id="seller" data-value="{{ name }}">Przetwarzam zamówienia, proszę czekać..</h3>
        {% for res in result %}
            <div 
                name="link"
                value="{{ res.commandId }}:{{ res.name }}"
            >

            <div id="question">
                <p id="text"></p>
                <div class="btns_cont">
                    <button onclick="getNo()">Bez podjazdu</button>
                    <button onclick="setToSend()">Zamówić Podjazd Kuriera</button>
                </div>
            </div>

            <div id="wait">
                <p>Proczę czekać...</p>
                <img class="icon loading" src="{% static 'icons/load.png' %}" alt="">
            </div>

            </div>
        {% endfor %}



        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>

        <script>

            function getCSRFToken() {
                const cookieValue = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
                return cookieValue;
            }
            
            // Axios configuration to include CSRF token in headers
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = 'X-CSRFToken';
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

            document.addEventListener('DOMContentLoaded', function() {
                var question = document.getElementById('question')
                var text = document.getElementById('text')

                question.style.display = 'flex';
                text.innerHTML = '';
                text.textContent = "Wybierz opcje";
            });

            function setToSend() {

                var wait = document.getElementById('wait');
                wait.style.display = 'flex';

                question.style.display = 'flex';

                var seller = document.getElementById('seller').getAttribute('data-value');

                var links = document.querySelectorAll('div[name="link"]');
                var context = [];
                links.forEach(function(link) {
                    var value = link.getAttribute('value');
                    console.log('value:', value);
                    context.push(value);  // Store the value in the context array
                });

                var url = `/get_shipment_status_id/${seller}/?ids=` + context + '&pickup=' + 'pickup';
                window.location.href = url;
                wait.style.display = 'none';
                question.style.display = 'none';
                
            }


            function getNo() {

                var wait = document.getElementById('wait');
                wait.style.display = 'flex';

                question.style.display = 'flex';

                var seller = document.getElementById('seller').getAttribute('data-value');

                var links = document.querySelectorAll('div[name="link"]');
                var context = [];
                links.forEach(function(link) {
                    var value = link.getAttribute('value');
                    console.log('value:', value);
                    context.push(value);  // Store the value in the context array
                });

                var url = `/get_shipment_status_id/${seller}/?ids=` + context + '&pickup=' + 'no_pickup';
                // var seller = document.getElementById('seller').getAttribute('data-value');
                // var url = '/get_orders/' + seller + '/';
                window.location.href = url;
                wait.style.display = 'none';
                question.style.display = 'none';

            }

        </script>
    
    {% endblock %}
</body>
</html>