{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'get_ships' %}">Dostawa</a></li>
                <li><a href="{% url 'add_account' %}">Dodaj Konto</a></li>
                <li class="dropdown">
                    <span>Oferty</span>
                    <div class="dropdown-content">
                        {% for name in accounts  %}
                        <a href="{% url 'get_all_offers' name %}">{{ name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="dropdown">
                    <span>Allegro Kod</span>
                    <div class="dropdown-content">
                        {% for name in accounts  %}
                        <a href="{% url 'get_new_authorization_code' name %}">{{ name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="dropdown">
                    <span>Centrum Wiadomości</span>
                    <div class="dropdown-content">
                        {% for name in accounts  %}
                        <a href="{% url 'all_messages' name %}">{{ name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="dropdown">
                    <span>Zamówienia</span>
                    <div class="dropdown-content">
                        {% for name in accounts  %}
                        <a href="{% url 'get_orders' name %}">{{ name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li><a href="{% url 'ebay_token' %}">Ebay</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout_user' %}">Wyloguj</a></li>
                {% else %}
                    <li><a href="{% url 'login_user' %}">Zaloguj</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
</body>
</html>