{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'get_authorization_code' %}">Połącz allegro</a></li>
                <li><a href="{% url 'post_product' %}">Wystaw product</a></li>
                <li><a href="{% url 'get_orders' %}">Zamówienia</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout_user' %}">Wyloguj</a></li>
                {% else %}
                    <li><a href="{% url 'login_user' %}">Zaloguj</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
</body>
</html>