{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

    <div class="of-l">

        <div class="of-l-nav">
            <div class="card pos_fixed">
                <div class="card-body" id="categoriesList" value="{{ sub_categories }}" data-cat="{{ categories }}">
                  {% for cat in categories %}
                    <p id="catItem-{{ cat.id }}" onclick="offersByCategory_('{{ cat.id }}')">{{cat.name}}</p>
                  {% endfor %}  
                </div>
            </div>
        </div>
        

        <div class="of-l-table">

            <div class="of-tab-s">               
                <div class="serach_">
                    <div class="input-group search_fixed">
                        <input type="text" class="form-control" id="searchInput">
                        <select class="btn btn-outline-secondary dropdown-toggle s_btn" id="dropdown" onchange="showFilters()">
                            <option class="dropdown-item" href="#" data-option="phrase" selected>Nazwa Oferty</option>
                            <option class="dropdown-item" href="#" data-option="seller.login">Login Sprzedawcy</option>
                            <option class="dropdown-item" href="#" data-option="category.id">ID Kategorii</option>
                            <option class="dropdown-item" href="#" data-option="deliveryMethod">Dostawca</option>
                            <option class="dropdown-item" href="#" data-option="location.city">Miasto</option>
                            <option class="dropdown-item" href="#" data-option="location.province">Wojewódstwo</option>
                            <option class="dropdown-item" href="#" data-option="price.from&price.to">Zakres Cen</option>
                            <option class="dropdown-item" href="#" data-option="Darmowa Dostawa">Darmowa Dostawa</option>
                            <option class="dropdown-item" href="#" data-option="campaign">W Promocji</option>
                            <option class="dropdown-item" href="#" data-option="Konto Firmowe">Konto Firmowe</option>
                            <option class="dropdown-item" href="#" data-option="option=SUPERSELLER">Super Sprzedawca</option>
                        </select>
                      </div>
                </div>
                
                <div class="table_">

                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Active</a>
                      </li>
                    </ul>

                    <table class="table" id="offersTable">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col"></th>
                            <th scope="col">Tytuł</th>
                            <th scope="col">Cena</th>
                            <th scope="col">Popularnośc</th>
                            <th scope="col">Sprzedawca</th>
                          </tr>
                        </thead>
                        <tbody id="tableBody">
                            {% for res in result.items.regular %}
                                <tr>
                                    <th scope="row">{{ res.id }}</th>
                                    <td>
                                        <img src="{{ res.images.0.url }}" alt="" width="50px">
                                    </td>
                                    <td onclick="showOffer('{{ res.id }}', '{{ res.name }}')">{{ res.name }}</td>
                                    <td>{{ res.sellingMode.price.amount }}</td>
                                    <td>{{ res.sellingMode.popularity }}</td>
                                    <td onclick="showSeller('{{ res.seller.login }}')">{{ res.seller.login }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script id="categories-data" type="application/json">{{ sub_categories|safe }}</script> -->

    <script>

        // Function to get CSRF token from cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches the desired name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }




        function slugify(text) {
            let title = text
            .toLowerCase()               // Convert to lowercase
            .replace(/ /g, '-')          // Replace spaces with hyphens
            .replace(/[^\w-]+/g, '');    // Remove all non-word characters (optional)
            return title
        }

        function showOffer(id, name) {
            var slug = slugify(name)
            console.log('showOffer', id, slug)
            var url = `https://allegro.pl.allegrosandbox.pl/oferta/${slug}-${id}?item=${id}`;
            window.open(url, '_blank'); // open the link in a new window
        }

        function showSeller(seller) {
            var url = `https://allegro.pl.allegrosandbox.pl/uzytkownik/${seller}`
            window.open(url, '_blank'); // open the link in a new window
        }

        // function globalUrl (path) {
        //     return path
        // }

        var category = null;
        var globalUrl = null;
        subCatContainer = [];
        catContainer = [];

        document.addEventListener('DOMContentLoaded', function () {
            var data = document.getElementById('categoriesList');
            var subData = data.getAttribute('value')
            var categoriesData = data.getAttribute('data-cat');
            console.log('categoriesData', categoriesData)
            let jsonString = subData
            .replace(/'/g, '"')  // Replace single quotes with double quotes
            .replace(/True/g, 'true')  // Replace True with true
            .replace(/False/g, 'false');  // Replace False with false        
            subCatContainer.push(JSON.parse(jsonString))

            let jsonStringCat = categoriesData
            .replace(/'/g, '"')  // Replace single quotes with double quotes
            .replace(/True/g, 'true')  // Replace True with true
            .replace(/False/g, 'false')  // Replace False with false   
            .replace(/None/g, 'null');     
            catContainer.push(JSON.parse(jsonStringCat))
        });


        // BACK TO ROOR CATEGORIES
        function backMain () {
            console.log('catContainer', catContainer)
            var catagoriesList = document.getElementById('categoriesList');
            catagoriesList.innerHTML = '';

            catContainer[0].forEach(function(category) {
                console.log('category', category);

                var categoryItem = document.createElement('p');
                categoryItem.textContent = category.name;
                // console.log('sub_category', item.name);
                categoryItem.onclick = function() {
                    offersByCategory_(category.id);  
                };
                categoriesList.appendChild(categoryItem);

            });
        }


        // GET FIRST SUB_CATEGORIES
        function offersByCategory_(catId) {

            console.log('offersByCategory_ clicked', subCatContainer);
            console.log('catId', catId);

            category = `category.id=${catId}`
            globalUrl = `category.id=${catId}&`
            console.log('globalUrl cat', globalUrl)

            var catagoriesList = document.getElementById('categoriesList');
            catagoriesList.innerHTML = '';
 
            var backPath = "954b95b6-43cf-4104-8354-dea4d9b10ddf"
            var categoryBack = document.createElement('p');
            categoryBack.style.fontSize = '10px';
            categoryBack.textContent = '< Główna';

            categoryBack.onclick = function() { 
                    backMain()
                };

            categoriesList.appendChild(categoryBack);

            subCatContainer[0].forEach(function(sub_cat) {
                // console.log('sub_category', sub_cat);
                for ( let item of sub_cat.categories ) {
                    // console.log('item', item);
                    var categoryItem = document.createElement('p');
                    if ( item.parent['id'] === catId ) {
                        categoryItem.textContent = item.name;
                        // console.log('sub_category', item.name);
                        categoryItem.onclick = function() {
                            console.log('offersBySubCategory here');
                            offersBySubCategory(item.id);  
                        };
                        categoriesList.appendChild(categoryItem);
                    }
                }
            });


        }


        // GET SUB_CATEGORIES PRODUCTS
        function offersBySubCategory(catId) {

            // Set global category id variable
            // to use it in showFilters()
            category = `category.id=${catId}`;
            globalUrl = `category.id=${catId}&`;

            // If catId is one of the root categories -> 
            // navigate user to the main categories filters
            catContainer.forEach(function(categories) {
                for ( let cat of categories) {
                    if ( catId === cat.id ) {
                        offersByCategory_(catId)
                    }
                }
            })

            console.log('offersBySubCategory clicked', catId)
            var path = `category.id=${catId}`
            getOffersResponse( path )

        }


        // UPDATE FILTERS WITH SUB_CATEGORIES
        function updateFilters(data) {

            console.log('updateFilters', data);
            
            var catagoriesList = document.getElementById('categoriesList');
            catagoriesList.innerHTML = '';

            var backPath = data.categories.path
            console.log('backPath all', backPath);
            console.log('backPath last', backPath[backPath.length - 2]['id']);

            var categoryBackCont = document.createElement('div');
            categoryBackCont.style.display = 'flex';
            categoryBackCont.style.flexWrap = 'wrap';
            categoryBackCont.style.gap = '10px';
            
            backPath.forEach(function(path) {
                var categoryBack = document.createElement('p');
                categoryBack.style.fontSize = '10px';
                categoryBack.textContent = path.name;
                categoryBack.onclick = function() {
                        offersBySubCategory(path.id);
                    };
                categoryBackCont.appendChild(categoryBack);
            })

            if (categoryBackCont.lastChild) {
                categoryBackCont.lastChild.style.opacity = '0.5';
            }

            categoriesList.appendChild(categoryBackCont);

            data.categories.subcategories.forEach(function(sub_cat) {
                // console.log('sub_category forEach', sub_cat);
                var categoryItem = document.createElement('p');
                categoryItem.textContent = sub_cat.name;
                // console.log('sub_category 2', sub_cat.name);
                categoryItem.onclick = function() {
                    offersBySubCategory(sub_cat.id);  
                };
                categoriesList.appendChild(categoryItem);

            });

        }


        //  UPDATE table WITH PRODUCTS BY SUB_CATEGORIES
        function updateTable(data) {
            // Select the table body element
            var tableBody = document.getElementById('tableBody');

            // Clear any existing rows
            tableBody.innerHTML = '';

            // Loop through new data and add rows
            data.forEach(function(item) {
                var row = document.createElement('tr');
                    
                // Create cells and populate them with data
                var idCell = document.createElement('th');
                idCell.setAttribute('scope', 'row');
                idCell.innerText = item.id;
                    
                var imgCell = document.createElement('td');
                var img = document.createElement('img');
                img.src = item.images[0].url;
                img.width = 50;
                imgCell.appendChild(img);
                    
                var titleCell = document.createElement('td');
                titleCell.innerText = item.name;
                titleCell.onclick = function() {
                    showOffer(item.id, item.name)
                }
                    
                var priceCell = document.createElement('td');
                priceCell.innerText = item.sellingMode.price.amount;
                    
                var sellerCell = document.createElement('td');
                sellerCell.innerText = item.seller.login;
                sellerCell.onclick = function() {
                    showSeller(item.seller.login)
                }

                // Append cells to the row
                row.appendChild(idCell);
                row.appendChild(imgCell);
                row.appendChild(titleCell);
                row.appendChild(priceCell);
                row.appendChild(sellerCell);

                // Append the row to the table body
                tableBody.appendChild(row);
            });

        }


        function getOffersResponse (path) {

            var csrftoken = getCookie('csrftoken')
            console.log('getOffersResponse path:', path);

            resetFullUrl()

            axios.post('/offers_listing_response/', { path: path, name: 'retset' }, {
                headers: {
                        'X-CSRFToken': csrftoken
                    }
            })
            .then(function(response) {
                console.log('offers_listing_response +', response)
                if ( response.status === 200 ) {
                    updateTable(response.data.result.items.regular)
                    // updateFilters(response.data.result.categories.subcategories)
                    updateFilters(response.data.result)
                }
            })
            .catch(error => {
                // Handle error
                console.error('chatbot_response error!', error);
            });

        }


        // SHOW RESULT BY SELECTED OPTION VALUE
        function showFilters() {
            var selectElement = document.getElementById('dropdown');

            var inputValue = document.getElementById('searchInput').value;
            // console.log('inputValue:', inputValue)
            
            // Get the selected option using the selectedIndex property
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            
            // Get the data-option attribute of the selected option
            var dataOption = selectedOption.getAttribute('data-option');
            var phrase = selectedOption.getAttribute('phrase');
            if ( inputValue ) {
                var path = `phrase=${inputValue}`;
                console.log('inputValue and phraze', path);
                fullUrl(path);
            } else {
                var path = `${dataOption}`;
                fullUrl(path);
            }

            // console.log('Selected data-option:', path, inputValue);

            getOffersResponse( globalUrl )
        }

        function fullUrl (value) {
            var mainUrl = `${globalUrl}&${value}`;
            globalUrl = mainUrl
            console.log('globalUrl:', globalUrl);
        }

        function resetFullUrl () {
            globalUrl = `${category}&`
            console.log('resetFullUrl:', globalUrl);
        }



    </script>

    {% endblock %}
    
</body>
</html>