body {
    background-color: aliceblue;
    margin: 0;
}

:root {
    --light: white;
    --dark: black;
    --success: rgb(132, 255, 159);
    --dark_success: rgb(73, 155, 91);
    --wait: rgb(245, 255, 104);
    --bg_color: aliceblue;
    --dbl: rgb(219, 219, 219);
    /* --product: #005355;
    --header: #006769; */
    --product: #2c2c2c;
    /* --header: #0075ff; */
    --header: #87a4b7;
}