.container {
    display: flex;
    flex-direction: column;
}

.order__details {
    width: 50vw;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.line p {
    margin: 0;
}
