#loadIcon {
    margin-top: 20vh;
    text-align: center;
}

.list__header {
    position: -webkit-sticky; /* For Safari */
    width: 100vw;
    height: 70px;
    position: sticky;
    top: 60px;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    padding: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* border-radius: 10px; */
    margin-bottom: 10vh;
}

.list__header .cont {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: flex-start; */
    border-radius: 10px;
    margin-bottom: 10px;
    /* height: 160px; */
    /* padding: 5px; */
    background-color: var(--dark_success);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.list__header_orders_media {
    display: none;
}

#name {
    height: 30px;
}

.search_h {
    display: block;
    position: absolute;
    width: 400px;
    height: 30px;
    left: 25%;
    background-color: var(--bg_color);
}

.vat__select {
    display: none;
    position: absolute;
    left: 48%;
}

.aftersale_select {
    display: none;
    position: absolute;
    left: 58%;
}

.delivery_select {
    display: none;
    position: absolute;
    left: 68%;
}

.photo_h {
    position: absolute;
    left: 0.5%;
}

.edit_h {
    position: absolute;
    left: 15%; 
    width: 200px;
}

.name_h {
    position: absolute;
    left: 19.5%;
}

.stock_h {
    position: absolute;
    left: 45.3%;
}

.sale_h {
    position: absolute;
    left: 53%;
}

.status_h {
    position: absolute;
    left: 61%;
}

.account_h {
    position: absolute;
    left: 76.5%;
}

.post_h {
    width: 6vw;
    position: absolute;
    left: 83%;
}

.jsn_start_absl {
    position: absolute;
    left: 76%;
}

.jsn_start {
    display: block;
    width: auto;
    background-color: var(--bg_color);
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.jsn_h {
    position: absolute;
    left: 82%;
    display: none;
    flex-direction: column;
    /* width: 6vw; */
    cursor: pointer;
}

.jsn_h_btn {
    display: block;
    position: absolute;
    left: 82%;
    width: auto;
    background-color: var(--bg_color);
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.details_h {
    position: absolute;
    left: 95.5%;
    width: 2vw;
}

.offers__cont {
    position: relative;
    /* margin-top: 15.5vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#offersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers__line {
    display: none;
}

.offers__line.show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 93%;
    /* border-radius: 10px; */
    margin-bottom: 10px;
    min-height: 90px;
    height: auto;
    padding: 5px;
    background-color: var(--light);
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.offers__line__title {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 78%;
    margin-bottom: 10px;
    min-height: 90px;
    height: auto;
    padding: 5px;
    background-color: var(--light);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.skuCosts {
    display: flex;
    min-width: 80px;
    justify-content: space-between; 
}

.dbl {
    background-color: var(--dbl);
}

.sent {
    background-color: var(--product);
    color: var(--light);
}

.sent a{
    color: var(--light);
}

.sent p{
    color: var(--light);
}

.canceled {
    background-color: var(--wait);
}

.picked_up {
    background-color: var(--success);
}

.photo {
    width: 50px;
    height: auto;
    /* border: 1px solid black; */
    padding: 2px;
}

.name_offer {
    display: flex;
    flex-direction: column;
    width: 25vw;
    color: var(--dark);
}

.name {
    width: 25vw;
    text-decoration: none;
    color: var(--dark);
}

.name p {
    font-size: 14px;
}

.stock {
    width: 25px;
    height: 20px;
}

.price__cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    gap: 5px;
}

.costs_o_cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.costs_o_cont_ {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -40px; */
}

.costs_o {
    width: 25px;
    height: 20px;
}

.currency_o {
    font-size: 10px;
    margin-left: 90px;
}

.account, .sku, .costs{
    min-width: 40px;
    width: auto;
    white-space: nowrap;
}

.account_select {
    width: 10vw;
    height: 30px;
    border: none;
    background-color: var(--bg_color);
    /* border: 1px solid black;
    border-radius: 10px; */
    padding: 2px;
}

.var_select {
    width: 100px;
    height: 30px;
    border: none;
    background-color: var(--bg_color);
    /* border: 1px solid black;
    border-radius: 10px; */
    padding: 2px;
}

.shipment {
    width: 10vw;
    height: auto;
}

.account__select__header {
    width: 10vw;
    height: 30px;
}

#error_13 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 2vh;
}

#error_13 button {
    width: 30px;
    border-radius: 50%;
    background-color: bisque;
    border: none;
    padding-right: 10px;
    cursor: pointer;
}


@media screen and (max-width: 1345px) {
    .offers__line {
        width: 98%;
    }
}

@media screen and (max-width: 1000px) {
    .offers__line {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .list__header_orders {
        display: none;
    }

    .list__header_orders_media {
        position: -webkit-sticky; /* For Safari */
        width: 100vw;
        height: 70px;
        position: sticky;
        top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: var(--light);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        /* border-radius: 10px; */
        z-index: 10;
        margin-bottom: 10vh;
    }

    .print {
        position: relative;
    }
}


@media screen and (max-width: 800px) {
    .account_select {
        width: 15vw;
    }
}

@media screen and (max-width: 500px) {
    .account_select {
        width: 20vw;
    }
}

@media screen and (max-width: 370px) {
    .account_select {
        width: 25vw;
    }
}

/* #uploadForm {
    display: flex;
    flex-direction: column;
} */