<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
</style>
<body>
    <h1>Login page +</h1>
    <div class="container">
        <form id="loginForm">
            {% csrf_token %}
            <label for="Email">Email</label>
            <input name="email" type="email">

            <label for="Hasło">Hasło</label>
            <input name="password" type="password">

            <button type="submit">Dalej</button>
            <div>Don't have an account?
                <a href="{% url 'register' %}">Register</a>
            </div>
        </form>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        // Get form data
        const formData = new FormData(event.target);

        console.log("formData", formData);

        // Send POST request using Axios
        axios.post('users/login_user/', formData, console.log("formData inside AXIOS POST", formData))
            .then(function(response) {
                console.log(response.data.message);
                
                window.location.href = 'http://127.0.0.1:8000/'; 
            })
            .catch(function(error) {
                console.error(error);
                alert(error)
            });
        });

    </script>
</body>
</html>
