#addressForm {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

#allAddresses {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 10vh;
} 

#allAddresses input {
    width: 200px;
    height: 50px;
}