.thread-list {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding: 10px;
}

.thread {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--light);
    width: 25vw;
    padding: 10px;
    border: 1px solid black;
}

.thread-avatar {
    flex: 0 0 auto; /* Avatar container doesn't grow or shrink */
    margin-right: 10px; /* Add some space between avatar and info */
}

.thread-avatar img {
    width: 50px; /* Adjust the width of the avatar image */
    height: 50px; /* Adjust the height of the avatar image */
    border-radius: 50%; /* Make the avatar image round */
}

.thread-info {
    flex: 1; /* The info container will take up remaining space */
}

.thread-interlocutor {
    font-weight: bold; /* Make the interlocutor name bold */
    margin-bottom: 5px; /* Add some space below the interlocutor name */
}

.thread-last-message {
    color: #888; /* Add some color to the last message text */
    margin-bottom: 5px; /* Add some space below the last message text */
}

.thread-read,
.thread-unread {
    font-style: italic; /* Make read/unread status italic */
    font-size: 12px; /* Adjust the font size */
}

.thread-read {
    color: green; /* Color for read status */
}

.thread-unread {
    color: red; /* Color for unread status */
}

#messageContainer {
    display: flex;
    flex-direction: column;      /* Stack messages vertically */
    align-items: flex-end;       /* Align items to the right */
}

/* Align messages to the left (for current user) */
.message-left {
    align-self: flex-start; /* Align to the left side of the container */
    text-align: left;
}

/* Align messages to the right (for other users) */
.message-right {
    align-self: flex-end; /* Align to the right side of the container */
    text-align: right;
}

.message {
    position: absolute;
    right: 0;
    top: 10vh;
    width: 69vw;
    height: 490px; 
    margin: 11px;
    overflow-y: auto;  /* Enable vertical scrolling */
    border: 1px solid #ddd; /* Optional: Add a border for better visibility */
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f9fa; /* Optional: Light background for better contrast */
}

.m-time-font {
    font-size: 8px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;
    top: 83vh;
    right: 1vw;
    width: 69vw;
    height: 10vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--light);
}

#formButton {
    position: absolute;
    bottom: 6vh;
    right: 2vw;
    width: 50px;
    cursor: pointer;
    z-index: 1;
}

/* .message__item {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 35vw;
}

.message__item p {
    margin: 5px 0;
}

.message__item strong {
    font-weight: bold;
} */