
.spinner-border {
    display: none;
}

.container_editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
}

.square-form {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}

.square-form input[type="file"] {
    display: none;
}

.square-form button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#result {
    display: none;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

#thumbnailArea {
    width: 1000px;
    height: 1000px;
    border: 2px dashed #ddd;
    position: relative;
    overflow: hidden; /* Hide overflowing images */
    margin-top: 10vh;
}

#thumbnailArea img {
    position: absolute;
    cursor: grab;
}

#combinedCanvas {
    display: none;
}

#thumbnailArea img.draggable-image {
    max-width: none; /* Allow original size images */
    max-height: none;
}