#outputImage {
    width: 150px;
}


.spinner-border {
    display: none;
}

.container_editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    margin-top: 10vh;
}

.square-form {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    position: relative;
}

.square-form input[type="file"] {
    display: none;
}

.square-form button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#result {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 1000px;
    padding: 20px;
    margin-top: 20px;
}

#thumbnailArea {
    width: 500px;
    height: 500px;
    border: 2px dashed #ddd;
    position: relative;
    overflow: hidden; /* Hide overflowing images */
    margin-top: 20px;
    background-color: white;
}

#thumbnailArea img {
    position: absolute;
    cursor: grab;
}

#thumbnailArea img.draggable-image {
    width: 800px; /* Adjust size visually */
    /* max-height: 150px; Adjust size visually */
    position: absolute;
}

#threshold {
    width: 500px;
    background-color: #74a2bb;
    padding: 10px;
    border-radius: 10px;
}

#PDFArea {
    width: 1193px;
    height: 1680px;
    border: 2px dashed #ddd;
    position: relative;
    overflow: hidden; /* Hide overflowing images */
    margin-top: 10vh;
    background-color: white;
}

#PDFArea img {
    position: absolute;
    cursor: grab;
}

#PDFArea img.draggable-image {
    width: 800px; /* Adjust size visually */
    /* max-height: 150px; Adjust size visually */
    position: absolute;
}

#combinedCanvas {
    display: none;
}




.resizable {
    position: absolute;
    display: inline-block;
    /* border: 2px dashed gray; */
    border: none;
    cursor: move;
    width: 300px; /* Initial width */
    /* height: 300px; Initial height */
}

.resizable-text {
    position: absolute;
    display: inline-block;
    cursor: move;
    word-wrap: break-word;
    white-space: nowrap;
}

.resizable img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.resize-handle {
    display: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #000;
    position: absolute;
}

.resize-handle.tl {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.resize-handle.tr {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.resize-handle.bl {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.resize-handle.br {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}

.pr {
    top: -5px;
    right: -102%;
    cursor: pointer;
    position: relative;
    background-image: url(/static/icons/prop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.close {
    top: 5px;
    right: -102%;
    cursor: pointer;
    position: relative;
    background-image: url(/static/icons/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#navProImg {
    margin-top: 20px;
    width: 500px;
    height: 50px;
    background-color: white;
}


/* _____________________________ */

/* test brightness 2 */

/* #curveContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#curvePanel {
    width: 500px;
    height: 500px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
canvas {
    border: 1px solid black;
    margin-bottom: 20px;
}
.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider {
    width: 100%;
    margin-left: 10px;
} */

 /* _______________________________ */


 #procContainer {
    width: 500px;
    height: auto;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}
#curveCanvas {
    width: 100%;
    height: 100%;
    background: #fff;
    cursor: crosshair;
}
#rgbToggle {
    margin-top: 20px;
}

#makeCopy #addCopy {
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}