.message-box {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    padding: 15px; /* Some padding */
    margin-bottom: 15px; /* Space below the box */
    border-radius: 5px; /* Rounded borders */
    position: fixed; /* Position it fixed on the page */
    top: 20vh; /* Position it at the top */
    z-index: 1000; /* Ensure it appears above other content */
    width: 300px; /* Width of the message box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A subtle shadow */
}

.message-box:hover {
    display: none;
}

.close-button {
    background: none; /* No background */
    border: none; /* No border */
    color: white; /* White text */
    font-size: 20px; /* Large text */
    font-weight: bold; /* Bold text */
    position: absolute; /* Position it absolutely */
    top: 5px; /* Position it at the top right corner */
    left: 63%;
    cursor: pointer; /* Cursor to pointer */
}

.close-button:hover {
    color: #bbb; /* Change color on hover */
}


.set__offers__cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    gap: 40px;
}

.set__row {
    display: flex;
    gap: 2%;
    overflow-x: scroll;
}

.set__offers__line {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    padding: 10px;
    height: 350px;
    width: 305px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0; /* for scroll by x inside set__row container */
}

.conto {
    display: flex;
    justify-content: space-between;
}

.conto__column {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.conto__row {
    display: flex;
    gap: 5px;
    padding: 10px;
    margin-left: -5px;
    width: 279px;
    background-color: #e9e6e6;
}

.set__result {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.conto__row input {
    width: 25px;
    height: 25px;
}

.set__price {
    display: flex;
    width: 25px;
    gap: 5px;
}

.icons__row {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    position: relative;
    top: -30px;
    left: 0;
}

.set__tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.set__tooltip .tooltip__text {
    visibility: hidden;
    width: 100px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.set__tooltip:hover .tooltip__text {
    visibility: visible;
    opacity: 1;
    z-index: 11;
}

.discount {
    display: flex;
    flex-direction: column;
}

.discount input {
    width: 60px;
    height: 30px;
}

.so_mini_cont {
    display: flex;
    align-items: center;
}

.set__name {
    font-size: 10px;
    width: 100px;
}

.set__photo {
    width: 80px;
    height: 80px;
}

.set_icon {
    width: 10px;
}

.add__set {
    cursor: pointer;
}

/* SET_ADD.HTML */
.set__add__offers__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 93%;
    /* border-radius: 10px; */
    margin-bottom: 10px;
    min-height: 90px;
    height: auto;
    padding: 5px;
    background-color: var(--light);
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}